html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  font-family: "Futura";
}

@font-face {
  font-family: "Futura";
  font-display: swap;
  src: local(''),
    url('../../static/fonts/futura-pt-heavy.woff2') format('woff2');
}